.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  background-color: #2196f3; /* Azul principal */
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #1976d2; /* Azul mais escuro */
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(25, 118, 210, 0.4);
}

.btn:active {
  background-color: #1565c0;
  transform: scale(0.98);
}
